<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='ie=edge' http-equiv='x-ua-compatible'>
    <meta content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no'>
    <meta name='twitter:card' content='summary' />
    <meta name='twitter:site' content='http://isitomeletteoclock.com' />
    <meta name='twitter:title' content='Is is Omelette oClock?' />
    <meta name='twitter:description' content='YES' />
    <meta property='og:title' content='Is is Omelette oClock?' />
    <meta property='og:description' content='YES' />
    <meta property='og:url' content='http://isitomeletteoclock.com' />

    <title><%= current_page.data.title %></title>

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :site %>
  </head>
  <body>
    <div id='wrapper'>
      <div id='main'>
        <header id='header'> <%= yield %> </header>

        <footer id='footer'>
          <span class='copyright'>copyright &copy;
            <a href='http://dreamingecho.es'>dreamingechoes</a></span>
            · inspired by <a href='http://isitbeeroclock.com/'>isitbeeroclock.com</a>
        </footer>
      </div>
    </body>
  </html>
